Repository hsjoberg/react-native-turbo-lnd: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc --noEmit

Initial commit
  example/android/app/src/main/java/com/turbolndexample/Jni.kt
  example/android/app/src/main/java/com/turbolndexample/MainActivity.kt
  example/src/App.tsx
  src/setup-text-encoding.ts
Due: lint, types

add a script to fetch lnd files
  src/fetch-lnd.js
  tsconfig.json
Due: lint, types

add a script to fetch lnd files
  src/fetch-lnd.js
Due: lint, types

point to github for turbo-lnd dep
  example/package.json
  example/src/App.tsx
  yarn.lock
Due: lint

revert package json and yarn lock
  example/package.json
  example/src/App.tsx
  yarn.lock
Due: lint

Add a script to fetch lnd files
  example/src/App.tsx
  src/fetch-lnd.js
Due: lint, types

Initial code for mocked API
  protoc-generator/protoc-gen-cpp-functions.ts
  src/index.ts
  src/mocks/index.ts
  tests/index.test.ts
Due: lint, types

add more mock methods
  src/mocks/index.ts
  src/mocks/responses.ts
Due: lint, types

revert comments
  src/mocks/index.ts
Due: lint, types

remove unnecessary timeout
  src/mocks/index.ts
Due: lint, types

Add more mock methods
  src/mocks/index.ts
  src/mocks/responses.ts
Due: lint, types

Update README.md to reflect current status of lib
  README.md
Due: none

add placeholders for all mocks
  src/mocks/index.ts
  src/mocks/responses.ts
Due: lint, types

throw errors for unimplemented mocks
  src/mocks/index.ts
Due: lint, types

Fix incorrect import in mocks/responses.ts
  example/src/App.tsx
  src/mocks/responses.ts
Due: lint, types

Add lnd convenience script instructions to README.md
  README.md
Due: none

iOS and macOS fixes
  package.json
  react-native-turbo-lnd.podspec
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}, but not: protoc-generator/*.ts
  types: any of: *.{js,ts, jsx, tsx}, but not: protoc-generator/*.ts
